<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/spinner.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" defer></script>
    <script src="{{ url_for('static', path='js/index.js') }}" defer></script>
</head>

<body>
    <section class="bg-blue">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell text-center">
                    <h1 class="text-white text-4xl font-bold">Gerador de Sons</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="grid-container mt-3">
        <ul class="menu align-center">
            <li><a id="chakras-btn" class="button hollow" href="/">Chakras</a></li>
            <li><a id="frequencies-btn" class="button" href="/frequencies">Frequências</a></li>
        </ul>

        <h3 class="separator-center"></h3>

        <div id="frequencies-content">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell">
                        <select id="frequency-select" class="custom-select">
                            <optgroup label="Solfeggio Frequencies">
                                <option value="Liberating">396 Hz: Liberating frequency</option>
                                <option value="Resonating">417 Hz: Resonating frequency</option>
                                <option value="Love">528 Hz: Love frequency</option>
                                <option value="Connecting">639 Hz: Connecting frequency</option>
                                <option value="Awakening">741 Hz: Awakening frequency</option>
                                <option value="Intuition">852 Hz: Intuition frequency</option>
                                <option value="Foundation">174 Hz: Foundation frequency</option>
                                <option value="Healing">285 Hz: Healing frequency</option>
                                <option value="Universe">963 Hz: Frequency of the universe</option>
                                <option value="Spiritual">1074 Hz: Spiritual frequency</option>
                                <option value="Balance">1174 Hz: Balance frequency</option>
                                <option value="Purification">1152 Hz: Spiritual purification</option>
                                <option value="Enlightenment">2172 Hz: Spiritual enlightenment</option>
                            </optgroup>
                            <optgroup label="Binaural Beats">
                                <option value="Delta">Delta (1-4 Hz): Deep sleep and relaxation</option>
                                <option value="Theta">Theta (4-8 Hz): Meditation, creativity, deep relaxation</option>
                                <option value="Alpha">Alpha (8-12 Hz): Relaxation, meditation, mental clarity</option>
                                <option value="Beta">Beta (12-30 Hz): Alertness, focus, concentration</option>
                                <option value="Gamma">Gamma (30-100 Hz): Heightened awareness, consciousness</option>
                            </optgroup>
                            <optgroup label="Chakra Tones Frequencies">
                                <option value="Muladhara2">Root Chakra (Muladhara): 396 Hz</option>
                                <option value="Svadhishthana2">Sacral Chakra (Svadhisthana): 417 Hz</option>
                                <option value="Manipura2">Solar Plexus Chakra (Manipura): 528 Hz</option>
                                <option value="Anahata2">Heart Chakra (Anahata): 639 Hz</option>
                                <option value="Vishuddha2">Throat Chakra (Vishuddha): 741 Hz</option>
                                <option value="Ajna2">Third Eye Chakra (Ajna): 852 Hz</option>
                                <option value="Sarashara2">Crown Chakra (Sahasrara): 963 Hz</option>
                            </optgroup>
                            <optgroup label="Other Healing Frequencies">
                                <option value="Schumann">Schumann Resonance: 7.83 Hz</option>
                                <option value="Tesla">Nikola Tesla: 3-6-9 Hz Permutations</option>
                                <option value="Angels">Angel Frequencies: 111,222,333 ... 888 Hz</option>
                                <option value="Earth">Earth (126.22 Hz)</option>
                                <option value="Moon">Moon (210.42 Hz)</option>
                                <option value="Mercury">Mercury (141.27 Hz)</option>
                                <option value="Mars">Mars (144.72 Hz)</option>
                                <option value="Venus">Venus (221.23 Hz)</option>
                                <option value="Jupiter">Jupiter (183.58 Hz)</option>
                                <option value="Saturn">Saturn (147.85 Hz)</option>
                                <option value="Uranus">Uranus (207.36 Hz)</option>
                                <option value="Neptune">Neptune (211.44 Hz)</option>
                                <option value="Pluto">Pluto (140.25 Hz)</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="loading-container">
            <div class="audio-with-spinner">
                <audio id="audio-player" controls></audio>
                <button type="button" class="button rounded shadow success" onclick="generateAudio()">Gerar</button>
                <div id="spinner" class="spinner"></div>
            </div>
        </div>
    </div>
</body>

</html>