<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="{{ url_for('static', path='js/index.js') }}" defer></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Gerador de Sons</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="field">
            <div class="generation-settings">
                <h2 class="title">Clique no Chakra correspondente</h2>
 
                <!-- Image with clickable areas -->
                <div class="image-map">
                    <img src="/static/img/chakras.jpg" alt="Click to generate specific sound" id="img-chakra"
                        usemap="#soundMap">
                    <map name="soundMap">
                        <!-- Define clickable areas for each section (A, B, C, etc.) -->
                        <area shape="rect" coords="0,0,1000,93" alt="G" href="javascript:void(0);"
                            onclick="generateAudio('Sarashara')">
                        <area shape="rect" coords="0,93,1000,186" alt="F" href="javascript:void(0);"
                            onclick="generateAudio('Ajna')">
                        <area shape="rect" coords="0,186,1000,279" alt="E" href="javascript:void(0);"
                            onclick="generateAudio('Vishuddha')">
                        <area shape="rect" coords="0,279,1000,372" alt="D" href="javascript:void(0);"
                            onclick="generateAudio('Anahata')">
                        <area shape="rect" coords="0,372,1000,465" alt="C" href="javascript:void(0);"
                            onclick="generateAudio('Manipura')">
                        <area shape="rect" coords="0,465,1000,558" alt="B" href="javascript:void(0);"
                            onclick="generateAudio('Svadhishthana')">
                        <area shape="rect" coords="0,558,1000,650" alt="A" href="javascript:void(0);"
                            onclick="generateAudio('Muladhara')">
                    </map>
                </div>
                <audio id="audio-player" controls></audio>
            </div>
</body>

</html>