<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="{{ url_for('static', path='js/index.js') }}" defer></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Gerador de Sons</h1>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="field">
            <div class="generation-settings">
                <h2 class="title">Clique no Chakra correspondente</h2>
                <div class="image-map">
                    <img src="/static/img/chakras.jpg" alt="Click to generate specific sound" id="img-chakra"
                        usemap="#soundMap">
                    <map name="soundMap">
                        <area shape="rect" coords="4,38,996,113" title="Sarashara" href="javascript:void(0);"
                            onclick="generateAudio('Sarashara')">
                        <area shape="rect" coords="4,117,990,184" title="Ajna" href="javascript:void(0);"
                            onclick="generateAudio('Ajna')">
                        <area shape="rect" coords="4,189,985,256" title="Vishuddha" href="javascript:void(0);"
                            onclick="generateAudio('Vishuddha')">
                        <area shape="rect" coords="4,262,988,328" title="Anahata" href="javascript:void(0);"
                            onclick="generateAudio('Anahata')">
                        <area shape="rect" coords="5,333,994,401" title="Manipura" href="javascript:void(0);"
                            onclick="generateAudio('Manipura')">
                        <area shape="rect" coords="5,406,996,472" title="Svadhishthana" href="javascript:void(0);"
                            onclick="generateAudio('Svadhishthana')">
                        <area shape="rect" coords="5,476,998,636" title="Muladhara" href="javascript:void(0);"
                            onclick="generateAudio('Muladhara')">
                    </map>
                </div>
                <audio id="audio-player" controls></audio>
            </div>
</body>

</html>